*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(204,61,244);
    height: 100vh;
}
form{
    width: 32em;
    margin:2em auto;
    background-color: white;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 0px 0px 3px white;
}
form h1{
    text-align: center;
    margin: 1em;
    font-weight: 800;
}
label{
    display: block;
}
input , select ,textarea{
 min-height: 3em;
 padding: 1em 0 1em 0;
 margin: 0;
 width:100%;
 border: none;
 font-size: large;
 border-bottom: 2px solid lightblack;

}
option{
    margin-left: 0;
    padding-left: 0;
}
select :focus{
    padding: 1em;
}
::placeholder{
    color: gray;
}
a.submitButton{
    display: block;
    text-decoration: none;
}
.submitButton{
    margin-top:1em;
    padding:1em;
    width: 100%;
    border-radius: 2em;
    border:none;
    color: white;
    text-transform: uppercase;

}
@media only screen and (max-width:700px) {
    form{
        width:100%;
        margin: 1em;
    }
    body{
        height: 100vh;
    }
}